// -------------------------
// Grid List
// -------------------------
$glColumns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

.gridList {
	margin: 0 #{-$space} 0 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	> li {
		font-size: 1rem;
		display: inline-block;
		margin: 0;
		padding: 0 $space $space 0;
		vertical-align: top;
		width: 50%;
		@include box-sizing(border-box);
	}
}


// -------------------------
// Grid List variants
// -------------------------
.gridList--photoGrid > li {
	padding: 0 $space-quarter $space-quarter 0;
}
@include atMediaDown(medium) {
	.gridList--photoGrid {
		margin: 0 #{-($space + $space-half)} 0 #{-$space};
		padding: 0;
	}
}

// small/default
@each $col in $glColumns {
	.gridList--has#{$col} > li {
		width: percentage(1 / $col);
	}
}

// larger breakpoints
@each $col in $glColumns {
	@include _bpModifier(gridList, has#{$col}) {
		> li {
			width: percentage(1 / $col);
		}
	}
}
