// -------------------------
// Stack
// -------------------------
.stack {
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(flex-start);
	@include align-items(flex);
}

.stack-item {
	@include flex-grow(1);
	// width: 100%;
	min-width: 0;
}

@include _bpModifier(stack, spread) {
	@include flex-direction(row);
	@include flex-wrap(nowrap);

	> .stack-item {
		@include flex-basis(0);
		width: auto;
		min-width: 0;
		padding-left: $space;
		&:first-child {
			padding-left: 0;
		}
	}
	.stack-item--shrink {
		@include flex-grow(0);
		@include flex-shrink(0);
		@include flex-basis(auto);
		width: initial;
	}
}

// LT IE10 fallback
.ieRoot_lt_IE10 {
	.stack,
	.stack-item {
		display: block;
	}
	.stack-item {
		padding-left: 0 !important;
	}
}

// .stack {
// 	@include display(flex);
// 	@include flex-wrap(nowrap);
// 	@include flex-direction(column);
// 	@include justify-content(flex-start);
// }

// .stack-item {
// 	@include flex-grow(1);
// 	// @include flex-basis(100%);
// 	@include flex-basis(auto);
// }

// @include _bpModifier(stack, spread) {
// 	@include flex-direction(row);

// 	> .stack-item {
// 		@include flex-basis(auto);
// 		padding-left: $space;
// 		width: 0;
// 		&:first-child {
// 			padding-left: 0;
// 		}
// 	}
// 	.stack-item--shrink {
// 		@include flex-grow(0);
// 		@include flex-shrink(1);
// 		width: initial;
// 	}
// }