// TODO: Try and make this file empty
.stackCustom--priceList > .stack-item {
  // TODO: write a fallback for non-flexbox browsers
  @include atMediaUp(medium) {
    @include flex-basis(42%);
  }

}
//

.stack .ricochetBioPhotoContainer {
  @include flex-basis(auto);
  @include atMediaUp(medium) {
    @include flex-basis(33%);
  }
}

.footerNav > div {
  padding-right: $space;
}

//
// OVERRIDING STYLES IN SALONIRIS IFRAME
// These styles are hacky because they have to be :(
//
#externalBookingPluginContainer {
	max-width: auto !important;

	iframe {
		width: 100%;
		.html {
			background-color: transparent;

			#page-section-container {
				background-color: transparent;
				border-color: transparent;
				border-width: 0;
				border-style: none;
			}

		}

	}

}

.roundCorners {
	border-radius: 4px;
}

.photoHero-photo .link {
	color: white;

  @include atMediaUp(medium) {
		color: $C_link;
	}
}

.touchHeight {
	min-height: 40px;
}